.#{$nys-global-prefix}header {

  color: $nav-fore-color;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: .018em;
  position: relative;
  border-bottom: $common-wide-border;
  font-weight: $nav-weight;
  font-style: normal;

  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: $nav-fore-color;
    text-decoration: none;
    outline: 0;
  }

  h1 {
    font-family: $agency-name-font;
    display: table-cell;
    vertical-align: middle;
    height: 80px;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: $nav-weight;

    a,
    a:link,
    a:visited,
    a:hover,
    a:active {
      display: block;
      padding-left: 30px;
      padding-right: 30px;
      color: $nav-fore-color;
    }

    a:hover {
      text-decoration: none;
      color: $nav-fore-color;
    }

  }

  ul {
    padding: $extra-padding;
    margin: 0;
    display: none;

    li {
      padding: 0;
      margin: 0;

      &.#{$nys-global-prefix}inactive {
        display: none;
      }

      &.#{$nys-global-prefix}active ul {
        display: block;
      }
    }
  }

   ul > li > a[href='#']:after {
    background-image: url('../icons/icon-arrow-right.png');
    background-image:
    linear-gradient(transparent, transparent),
    url('../icons/icon-arrow-right.svg');
    background-size: $menu-arrow-size;
    background-repeat: no-repeat;
    width: 2em;
    height: 1.2em;
    content: '';
    position: absolute;
    right: $menu-arrow-right;
    top: $menu-arrow-top;
  }

  > ul {
    position: absolute;
    width: $drop-down-width-mobile;
    border-top: $common-wide-border;
    z-index: 2;

    li {
      display: block;
      list-style: none;
      position: relative;

      &.#{$nys-global-prefix}active > a:link,
      &.#{$nys-global-prefix}active > a:visited {
        padding-left: $menu-arrow-active-link-padding;
        font-weight: $nav-weight;
        letter-spacing: .03em;
        color: $nav-fore-color;
      }

      &.#{$nys-global-prefix}active > a:before {
        background-image: url('../icons/icon-arrow-left.png');
        background-image:
          linear-gradient(transparent, transparent),
          url('../icons/icon-arrow-left.svg');
        background-size: $menu-arrow-size;
        background-repeat: no-repeat;
        width: 2em;
        height: 1.2em;
        display: inline-block;
        content: '';
        position: absolute;
        left: $menu-arrow-left;
        top: $menu-arrow-left-top;
      }

      &.#{$nys-global-prefix}active > a:after {
        background-image: none;
      }

      a:link,
      a:visited {
        display: block;
        padding: $common-link-padding;
        font-family: $base-font;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        text-decoration: none;
        color: $nav-fore-color;
        cursor: pointer;
      }

      a:hover {
        text-decoration: none;
        color: $nav-fore-color;
      }

      ul {
        padding: 0;
        display: none;
        position: initial;
        z-index: 5;
        width: 100%;

        > li > a {
          letter-spacing: .02em;
          font-weight: $nav-weight;
        }
      }
    }
  }

  .#{$nys-global-prefix}active {
    display: block;
  }

  // button for opening the menu on mobile devices
  .nav-toggle {
    text-indent: -9999px;
    color: transparent;

    a,
    a:link,
    a:visited,
    a:hover,
    a:active {
      width: 65px;
      height: 80px;
      display: block;
      float: left;
      background-image: url('../icons/icon-menu.png');
      background-image:
        linear-gradient(transparent, transparent),
        url('../icons/icon-menu.svg');
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: 50%;
    }
  }

  // Tablet
  @media (min-width: $min-width-breakpoint) {
    &.horizontal,
    &.vertical {
      font-weight: $nav-weight;

      h1 {
        a,
        a:link,
        a:visited,
        a:hover,
        a:active {
          font-size: 20px;
          line-height: 26px;
        }
      }

      &.unstacked {
        font-size: 14px;
        line-height: 18px;
        @include in-context-menu();

        h1 {
          height: auto;

          a,
          a:link,
          a:visited,
          a:hover,
          a:active {
            padding: $nav-title-padding-tablet;
          }
        }

        > ul {
          padding-left: 15px;
          display:inline-block;

          li {
            a,
            a:link,
            a:visited,
            a:hover,
            a:active {
              font-weight: $nav-weight;
              font-size: 14px;
              letter-spacing: .03em;
              padding-left: 15px;
            }
            ul {
              width: $drop-down-width-hor-5-tablet;

              li {
                a,
                a:link,
                a:visited,
                a:hover,
                a:active {
                  font-size: 12px;
                  line-height: 17px;
                  font-weight: $nav-weight;
                }
              }
            }
          }
        }

        ul > li > a[href='#']:after {
         background-image: none;
         width: 0;
         margin: 0;
         display: none;
       }

       > ul li.#{$nys-global-prefix}active > a:before {
         background-image: none;
         width: 0;
         margin: 0;
         display: none;
       }
      }

      &.stacked {
        font-size: 16px;
        line-height: 22px;
        letter-spacing: .03em;

        > ul {
          width: $drop-down-width-tablet;

          a,
          a:link,
          a:visited,
          a:hover,
          a:active {
            font-weight: $nav-weight;
          }

          li.#{$nys-global-prefix}active > a:before {
            background-size: $menu-arrow-size-tablet;
            top: $menu-arrow-left-top-tablet;
          }
        }

        > ul > li > a[href='#']:after {
          background-size: $menu-arrow-size-tablet;
          top: $menu-arrow-top-tablet;
        }
      }
    }
  }

  // Desktop
  @media (min-width: $max-width-breakpoint) {
    &.horizontal,
    &.vertical {
      > ul,
      h1 {
        display: inline-block;
      }
    }

    &.unstacked.horizontal,
    &.stacked.horizontal,
    &.vertical {
      height: auto;
      font-size: 16px;

      h1 {
        width: $drop-down-width-desktop;
        padding-left: 30px;

        a,
        a:link,
        a:visited,
        a:hover,
        a:active {
          padding: 0;
          font-size: 22px;
          line-height: 26px;
          display: table-cell;
          height: $medium-screen-link-height;
          vertical-align: middle;
          padding-left: 15px;

          span {
            display: inline-block;
          }
        }
      }

      > ul {
        padding: 0 0 0 30px;

        li {
          a,
          a:link,
          a:visited,
          a:hover,
          a:active {
            font-size: 16px;
            letter-spacing: .03em;
            display: table-cell;
            height: $medium-screen-link-height;
            vertical-align: middle;
            padding: 0 15px;

            &:before,
            &:after {
              background-image:none;
            }
          }

          ul {
            padding: $submenu-padding;
            top: auto;
            width: $drop-down-width-desktop;

            li {
              height: auto;

              a,
              a:link,
              a:visited,
              a:hover,
              a:active {
                font-size: 16px;
                line-height: 20px;
                height: auto;
                display: block;
                padding: 15px;
              }
            }
          }

          &:last-child ul {
            left: auto;
          }
        }
      }
    }

    &.stacked.horizontal,
    &.vertical {
      @include in-context-menu();
      height: 118px;

      h1 {
        display: block;
        width: auto;
        height: auto;

        a,
        a:link,
        a:visited,
        a:hover,
        a:active {
          height: 65px;
        }
      }

      > ul {
        display: block;

        li {
          a,
          a:link,
          a:visited,
          a:hover,
          a:active {
            height: $horizontal-menu-stacked-size;
          }

          ul {
            top: auto;
            height: auto;
            width: $drop-down-width-desktop;

            li {
              a,
              a:link,
              a:visited,
              a:hover,
              a:active {
                height: auto;
                padding: $horizontal-sub-link-padding;
              }
            }
          }
        }
      }

      ul > li > a[href='#']:after {
       background-image: none;
       width: 0;
       margin: 0;
       display: none;
     }

     > ul li.#{$nys-global-prefix}active > a:before {
       background-image: none;
       width: 0;
       margin: 0;
       display: none;
     }
    }

    &.vertical {
      width: 300px;
      height: auto;
      border-bottom: 0;
      float: left;

      h1 {
        padding-left: 0;
        height: auto;

        a,
        a:link,
        a:visited,
        a:hover,
        a:active {
          display: block;
          height: auto;
          padding: 30px 0 30px 15px;
        }
      }

      ul {
        width: 300px;
        padding: 0;

      }

      ul li {
        display: block;

        &.#{$nys-global-prefix}active > a,
        &.#{$nys-global-prefix}active > a:link,
        &.#{$nys-global-prefix}active > a:visited,
        &.#{$nys-global-prefix}active > a:hover,
        &.#{$nys-global-prefix}active > a:active {
          padding-left: 24px;
        }

        &.#{$nys-global-prefix}active > a:before {
          background-image: url('../icons/icon-arrow-left.png');
          background-image:
            linear-gradient(transparent, transparent),
            url('../icons/icon-arrow-left.svg');
          background-size: $menu-arrow-size;
          background-repeat: no-repeat;
          width: 2em;
          height: 1.2em;
          display: inline-block;
          content: '';
          position: absolute;
          left: $menu-arrow-left;
          top: $menu-arrow-left-top;
        }

        a,
        a:link,
        a:visited,
        a:hover,
        a:active {
          height: auto;
          display: block;
          line-height: 1.5;
          margin: 0 15px;
          padding: 30px 0;
        }

        &.#{$nys-global-prefix}inactive {
          display: block;
        }

        ul {
          border-top: 0;
          padding: 0;
          position: initial;

          li:first-of-type a {
            border-top: 0;
          }

          li {
            a,
            a:link,
            a:visited,
            a:hover,
            a:active {
              padding-left: 24px;
            }
          }
        }
      }
    }
  }
}

.nys-global-nav-content-container {
  @media (min-width: 1024px) {
    margin-left: 330px;
  }
}
