// nav colors
$black: #000;
$white: #fff;

// agency grouping colors
$administration-name: 'nys-brand-administration';
$administration-primary-color: #b74215;
$administration-secondary-color: #f4d3c1;

$business-name: 'nys-brand-business';
$business-primary-color: #09464c;
$business-secondary-color: #e5eeee;

$education-name: 'nys-brand-education';
$education-primary-color: #9d8e1d;
$education-secondary-color: #e9e6d4;

$health-and-human-services-name: 'nys-brand-health-and-human-services';
$health-and-human-services-primary-color: #43285d;
$health-and-human-services-secondary-color: #d4d5e3;

$local-and-regional-authorities-name: 'nys-brand-local-and-regional-authorities';
$local-and-regional-authorities-primary-color: #402217;
$local-and-regional-authorities-secondary-color: #ded8d3;

$public-safety-name: 'nys-brand-public-safety';
$public-safety-primary-color: #4b6576;
$public-safety-secondary-color: #e5ebee;

$recreation-and-environment-name: 'nys-brand-recreation-and-environment';
$recreation-and-environment-primary-color: #233e2a;
$recreation-and-environment-secondary-color: #d9e1dd;

$statewide-elected-officials-name: 'nys-brand-statewide-elected-officials';
$statewide-elected-officials-primary-color: #0e5e9e;
$statewide-elected-officials-secondary-color: #d6e5eb;

$transportation-and-utilities-name: 'nys-brand-transportation-and-utilities';
$transportation-and-utilities-primary-color: #0b5584;
$transportation-and-utilities-secondary-color: #d6e5eb;

// core ny colors
$core-nys-colors-name: 'core-nys-colors';
// gold
$core-nys-colors-primary-gold: #f3a932;
$core-nys-colors-seconday-gold: #fcd036;
$core-nys-colors-tertiary-gold: #fee069;

// light blue
$core-nys-colors-primary-light-blue: #2377b9;
$core-nys-colors-seconday-light-blue: #4098d9;
$core-nys-colors-tertiary-lighter-blue: #6894ca;

// dark blue
$core-nys-colors-primary-dark-blue: #1f3261;
$core-nys-colors-secondary-dark-blue: #25418e;
$core-nys-colors-tertiary-dark-blue: #27509f;

// gray
$core-nys-colors-primary-dark-gray: #414142;
$core-nys-colors-secondary-dark-gray: #696a6c;
$core-nys-colors-tertiary-dark-gray: #939598;
$core-nys-colors-primary-light-gray: #bebebe;
$core-nys-colors-secondary-light-gray: #dad9d7;
$core-nys-colors-tertiary-light-gray: #dee4e6;
