// generic
$nys-global-prefix: 'nys-global-';
$min-width-breakpoint: 768px;
$max-width-breakpoint: 1024px;


$horizontal-menu-stacked-size: 53px;

$drop-down-width-mobile: 255px;
$drop-down-width-hor-5-tablet: 170px;
$drop-down-width-tablet: 300px;
$drop-down-width-desktop: 300px;

$medium-screen-link-height: 75px;

// text

$base-font: "Proxima Nova", Arial, sans-serif;
$agency-name-font: "D Sari Bold", Arial, sans-serif; // used in header and footer

// padding

$nav-title-padding: 15px 30px 8px 30px; // kept in case anyone still uses this variable
$nav-title-padding-tablet: 15px 30px 1px 30px;
$common-link-padding: 30px 48px 30px 30px;
$horizontal-link-padding: 8px 15px;
$horizontal-tall-link-padding: 25px;
$horizontal-sub-link-padding: 15px;
$submenu-padding: 5px 0px;
$extra-padding: 0px 0px;
$nav-fore-color: #fff;

$nav-weight: bold;

//depracated
$default-font-size: 1em;
$default-constrained-font-size: .8em;
$nav-title-size: 1.4em;
$big-nav-title-size: 1.375em;

// art
$common-wide-border: 4px solid #fff;

// icons
// menu arrows
$menu-arrow-size: 16px;
$menu-arrow-size-tablet: 18px;
$menu-arrow-top: 39%;
$menu-arrow-top-tablet: 38%;
$menu-arrow-right: 10px;
$menu-arrow-left: 18px;
$menu-arrow-left-top: 30px;
$menu-arrow-left-top-tablet: 31px;

$menu-arrow-active-link-padding: 48px;
