# Ignore configuration files that may contain sensitive information.

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

../private/*
tmp/
../.idea/copyright/
../.idea/modules.xml
../.idea/stateliquorteam3-dev.iml
../.idea/workspace.xml
../private/

